<div class="header">
  <div>
    3 items in your cart
  </div>
  <div>
    Discount code: <span>345R</span>
  </div>
</div>
<table>
  <tr>
    <td><img src="../../../../src/assets/gl.png"></td>
    <td class="product-name">Product<br> Name</td>
    <td>
      <ui-qt-input [ngModel]="1"></ui-qt-input>
    </td>
    <td class="price">$130</td>
    <td class="close">x</td>
  </tr>
  <tr>
    <td><img src="../../../../src/assets/gl2.png"></td>
    <td class="product-name">Product Name</td>
    <td>
      <ui-qt-input [ngModel]="2"></ui-qt-input>
    </td>
    <td class="price">$50</td>
    <td class="close">x</td>
  </tr>
  <tr>
    <td><img src="../../../../src/assets/sh.png"></td>
    <td class="product-name">Product Name</td>
    <td>
      <ui-qt-input [ngModel]="1"></ui-qt-input>
    </td>
    <td class="price">$175</td>
    <td class="close">x</td>
  </tr>
</table>
<div class="footer">
  <button [uiButton]>< BACK TO SHOP</button>
  <div>
    <p>Total <span>$355.00</span></p>
    <button [uiButton] [color]="'primary'">Checkout</button>

  </div>
</div>
