:host {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #ffffff;
  border-radius: 6px;
  overflow: hidden;
}

.product-photo {
  background-image: url("../../../../assets/j3.png");
  background-size: cover;
  width: 50%;
}

.product-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #FAFAFA;
  box-sizing: border-box;
  width: 50%;
  padding: 15px 20px;
  .title {
    h3 {
      margin: 6px 0 2px 0;
      font-size: 1.2rem;
    }
  }
  .description {
    padding: 10px 0;
    color: #444444;
    font-weight: 700;
    line-height: 18px;
  }
  .price-box {
    margin: 10px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    color: #444444;
    .price {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: baseline;
    }
    p {
      margin: 0;
    }
    .new-price {
      font-size: 30px;
      font-weight: 400;
    }
  }
}

