@import "../../../params";
@import "../../../common";

:host {
  margin: $grid*6 0;
}

.instruction {
  align-items: center;
  border-bottom: 1px solid $mercuryColor;
  border-top: 1px solid $mercuryColor;
  display: flex;
  flex-direction: row;
  padding: $grid/2 0;
  justify-content: space-between;
}

.required-field {
  font-size: 0.9rem;
}

.checkout-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: $grid*3 0;
  width: 100%;
}

.customer-details {
  margin-right: $grid*1.5;
  width: 70%;
}

section {
  align-items: flex-start;
  border-bottom: 1px solid $mercuryColor;
  color: $charcoalColor;
  display: flex;
  flex-direction: row;
  padding: $grid*1.5 0;
}

.header {
  align-items: center;
  display: flex;
  flex-direction: row;
  margin-right: $grid*1.5;
  width: 100px;
  strong {
    color: #aaa;
    font-size: 3rem;
    margin-right: $grid*2.5;
  }
  span {
    font-weight: 700;
    line-height: 1.4rem;
  }
}

fieldset {
  border: 0;
  flex-grow: 1;
  margin: 0;
  padding: 0;
}

.field {
  align-items: center;
  display: flex;
  flex-direction: row;
  margin-bottom: $grid*1.5;
  width: 100%;
}

.label-wrap {
  margin-right: $grid*1.5;
  text-align: right;
  width: 150px;
}

label {
  &.required {
    &:after {
      content: " *";
    }
  }
}

.container {
  width: 260px;
  &.expiry-date {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    select {
      box-sizing: border-box;
      margin-right: $grid;
      width: 50%;
      &:last-child{
        margin-right: 0;
      }
    }
  }
}

.delivery-option, .payment-option {
  display: flex;
  flex-direction: column;
  .cost {
    color: #3eb14f;
    font-weight: 700;
    margin-left: $grid*3.5;
    text-transform: uppercase;
  }
}

.radio {
  margin-left: $grid*7.5;
}

.submit-button {
  margin: $grid*5 0;
  text-align: center;
}

.submit {
  background: $textColor;
  border: none;
  color: #ffffff;
  font-weight: 400;
  line-height: 3.6rem;
  padding: 0 $grid*3;
  text-transform: uppercase;
}

.order-summary {
  border: 1px solid $mercuryColor;
  width: 280px;
  .header {
    box-sizing: border-box;
    background: $mercuryColor;
    font-weight: 700;
    padding: $grid*1.5;
    width: 100%;
  }

}

.basket {
  box-sizing: border-box;
  padding: $grid*1.5;
  width: 100%;
}

.basket-table {
  border: 0;
  border-collapse: collapse;
  text-align: center;
  width: 100%;
  .description {
    padding-right: $grid/2;
    text-align: left;
    width: 70%;
    .container {
      align-items: center;
      display: flex;
      flex-direction: row;
      width: 100%;
    }
    .product-photo {
      flex-shrink: 0;
      height: 70px;
      margin-right: $grid;
      text-align: center;
      width: 70px;
      img {
        max-height: 100%;
        max-width: 100%;
      }
    }
  }
  td {
    padding: $grid 0;
    border-bottom: 1px solid $mercuryColor;
  }
  tfoot {
    font-weight: 700;
    font-size: 1.2rem;
    padding: $grid*1.5;
    text-align: center;
    td{
      border-bottom: none;
    }
  }
}

