<div class="product-info">
  <div>
    <div class="sub-title">More about product</div>
    <div class="title"><h3>Product name</h3></div>
    <div class="price">
      $830
    </div>
    <div class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
      ut labore et dolore magna aliqua.
    </div>
    <div class="option-box">
      <div class="colors">
        <button [kitButton] [type]="'color'" [kitCheck] [(ngModel)]="color" [value]="'1'"
                [style.background]="'#ccc'"></button>
        <button [kitButton] [type]="'color'" [kitCheck] [(ngModel)]="color" [value]="'2'"
                [style.background]="'#5454cc'"></button>
        <button [kitButton] [type]="'color'" [kitCheck] [(ngModel)]="color" [value]="'3'"
                [style.background]="'#dd59c4'"></button>
      </div>
      <div class="size">
        <button [kitButton] [type]="'size'" [kitCheck] [(ngModel)]="size" [value]="'s'">S</button>
        <button [kitButton] [type]="'size'" [kitCheck] [(ngModel)]="size" [value]="'m'">M</button>
        <button [kitButton] [type]="'size'" [kitCheck] [(ngModel)]="size" [value]="'x'">X</button>
      </div>
    </div>
  </div>
  <button [kitButton] [icon]="'cart'">Add to cart</button>
</div>
<div class="product-photo"></div>

