<div>
  <div class="product-wrapper">
    <div class="badge">badge</div>
    <div class="title"><h3>Product name</h3></div>
  </div>
  <div class="product-photo"></div>
</div>
<div class="product-wrapper">
  <div class="price-box">
    <p class="old-price">$360</p>
    <p class="new-price">$230</p>
    <p class="discount">Save 10%</p>
  </div>
  <div class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
</div>
<div class="details">
  <a href="">Show Details</a>
</div>
