:host {
  width: 515px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #ffffff;
  border-radius: 6px;
  overflow: hidden;
}

.product-photo {
  background-color: #FAFAFA;
  background-image: url("../../../../assets/gl.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 50%;
}

.product-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #ffffff;
  box-sizing: border-box;
  width: 50%;
  padding: 15px 20px;
  .title {
    h3 {
      margin: 6px 0 2px 0;
      font-size: 16px;
    }
  }
  .sub-title {
    color: #CCCCCC;
    font-size: 11px;
  }
  .description {
    padding: 10px 0;
    color: #444444;
    font-weight: 700;
    line-height: 18px;
  }
  .price-box {
    margin: 10px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    color: #444444;

    .price {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: baseline;
    }
    p {
      margin: 0;
    }
    .old-price {
      text-decoration: line-through;
      color: #CCCCCC;
      margin-right: 10px;

    }
    .new-price {
      font-size: 18px;
      font-weight: 700;

    }
    button{
      text-transform: uppercase;
      background: #5868D7;
      padding: 8px 16px;
      border-radius: 4px;
      border: transparent;
      color: #ffffff;
      font-size: 12px;
    }
  }
}
