:host {
  width: 515px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #ffffff;
  border-radius: 6px;
  overflow: hidden;
  padding: 15px 20px;
  box-sizing: border-box;
}

.product-photo {
  background-image: url("../../../../assets/gl.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 140px;

}

.title {
  h3 {
    margin: 6px 0 2px 0;
    font-size: 1.2rem;
  }
}

.rating {
  padding: 10px 0;
}

.colors {
  p {
    margin: 8px 0;
    color: #8c8c8c;
    font-weight: 700;
  }
  button {
    margin-right: 8px;
  }
}

.description {
  color: #CCCCCC;
  font-size: 0.9rem;
  text-align: center;
  margin: 8px 0;
}

.details {
  text-align: right;
  padding: 10px 0;
  a {
    text-decoration: none;
    color: #5868D7;
    font-weight: 700;
    font-size: 1.2rem;
  }
}
