@import "../../../params";
@import "../../../common";

:host {
  margin: $grid*6 0;
}

.login-panel {
  border: 1px solid $mercuryColor;
  box-sizing: border-box;
  margin: 0 auto;
  padding: $grid*2.5;
  width: 70%;
}

.title {
  font-weight: 400;
  font-size: 1.9rem;
  text-align: center;
}

form {
  margin-top: $grid*5;
  width: 80%;
  > div {
    display: flex;
    flex-direction: row;
  }
}

label {
  display: block;
  flex-shrink: 0;
  font-size: 1rem;
  margin-bottom: $grid*1.5;
  width: 200px;
}

input {
  margin-bottom: $grid*2.5;
}

.forgotten-password {
  text-align: center;
  a {
    color: inherit;
    text-decoration: none;
  }
}

.login-box {
  margin: $grid*2.5 0;
  text-align: center;
}

.login {
  background: $textColor;
  border: none;
  color: #ffffff;
  font-weight: 400;
  line-height: 48px;
  padding: 0 $grid*3;
  text-transform: uppercase;
}

.social-box {
  text-align: center;
  p {
    font-size: 1.5rem;
  }
}

.facebook {
  background: #4267B2;
  border: none;
  color: #ffffff;
  font-weight: 700;
  line-height: 3.7rem;
  padding: 0 $grid*3;
}

.policy {
  margin: 0 auto;
  text-align: center;
  width: 50%;
}
