:host {
  width: 330px;
  background-color: #ffffff;
  border-radius: 6px;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
}

.title {
  background: #F8F8F8;
  padding: 15px 20px;
  color: #444444;
  font-weight: 700;
  border-bottom: 1px solid #f1f0f0;
}
