:host {
  width: 245px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #ffffff;
  border-radius: 6px;
  overflow: hidden;
}

.product-photo {
  background-image: url("../../../../src/assets/gl.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 190px;
}

.product-info {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #FAFAFA;
  box-sizing: border-box;
  padding: 15px 20px;
  .title {
    h3 {
      margin: 6px 0 2px 0;
      font-size: 1.2rem;
    }
  }
  .sub-title {
    color: #CCCCCC;
    font-size: 0.9rem;
  }
  .rating {
    padding: 10px 0;
  }
  .price-box {
    margin: 10px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    color: #444444;

    .price {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: baseline;
    }
    p {
      margin: 0;
    }
    .old-price {
      text-decoration: line-through;
      color: #CCCCCC;
      margin-right: 10px;

    }
    .new-price {
      font-size: 1.4rem;
      font-weight: 700;

    }
  }
}
