<ui-side-menu>
  <ui-side-menu-group>
    <div class="title">Man</div>
    <ui-side-menu-sub *kitCollapse>
      <div>Jackets</div>
      <div>Shirts</div>
      <div>Footwear</div>
    </ui-side-menu-sub>
  </ui-side-menu-group>
  <ui-side-menu-group>
    <div class="title">Woman</div>
    <ui-side-menu-sub *kitCollapse>
      <div>Jackets</div>
      <div>Shirts</div>
      <div>Footwear</div>
    </ui-side-menu-sub>
  </ui-side-menu-group>
  <ui-side-menu-group>
    <div class="title">Kids</div>
    <ui-side-menu-sub>
      <div>Jackets</div>
      <div>Shirts</div>
      <div>Footwear</div>
    </ui-side-menu-sub>
  </ui-side-menu-group>

</ui-side-menu>
