<div class="title"><h3>Product name</h3></div>
<div class="rating">
  <kit-rating [value]="3"></kit-rating>
</div>
<div class="product-photo"></div>
<div class="colors">
  <p>Available Colors</p>
  <button [kitButton] [type]="'color'" [kitCheck] [(ngModel)]="color" [value]="'1'" [style.background]="'#ccc'"></button>
  <button [kitButton] [type]="'color'" [kitCheck] [(ngModel)]="color" [value]="'2'" [style.background]="'#5454cc'"></button>
  <button [kitButton] [type]="'color'" [kitCheck] [(ngModel)]="color" [value]="'3'" [style.background]="'#dd59c4'"></button>
</div>
<div class="description">Lorem ipsum dolor sit amet, consectetur<br> adipiscing elit, sed do.</div>
<div class="details">
  <a href="">View</a>
</div>


