<div class="main-wrapper">
  <div class="banner">
    <div class="slogan">
      Welcome to your New Website!
    </div>
  </div>
  <div class="hot-offers">
    <div class="head">
      <div class="line">
        <hr class="hr">
      </div>
      <div class="title">
        <h2>Hot Offers</h2>
      </div>
      <div class="line">
        <hr class="hr">
      </div>
    </div>
    <div class="offers">
      <div class="product">
        <div class="wrapper">
          <img src="../../../assets/0675_Sacha-Scarf_14-1200x1265.png">
        </div>
        <div class="sub-title">Best of Fall</div>
        <div class="price">NOW 25% OFF</div>
        <button>SHOP NOW</button>
      </div>
      <div class="product">
        <div class="wrapper">
          <img src="../../../assets/schal-cashmere-20808.png">
        </div>
        <div class="sub-title">Best of Fall</div>
        <div class="price">NOW 25% OFF</div>
        <button>SHOP NOW</button>
      </div>
      <div class="product">
        <div class="wrapper">
          <img src="../../../assets/sh2.png">
        </div>
        <div class="sub-title">Best of Fall</div>
        <div class="price">NOW 25% OFF</div>
        <button>SHOP NOW</button>
      </div>
      <div class="product">
        <div class="wrapper">
          <img src="../../../assets/gl2.png">
        </div>
        <div class="sub-title">Best of Fall</div>
        <div class="price">NOW 25% OFF</div>
        <button>SHOP NOW</button>
      </div>
      <div class="product">
        <div class="wrapper">
          <img src="../../../assets/snowboard%202.png">
        </div>
        <div class="sub-title">Best of Fall</div>
        <div class="price">NOW 25% OFF</div>
        <button>SHOP NOW</button>
      </div>
      <div class="product">
        <div class="wrapper">
          <img src="../../../assets/j.png">
        </div>
        <div class="sub-title">Best of Fall</div>
        <div class="price">NOW 25% OFF</div>
        <button>SHOP NOW</button>
      </div>
    </div>
  </div>

  <div class="trent-offers">
    <div class="head">
      <div class="line">
        <hr class="hr">
      </div>
      <div class="title">
        <h2>On Trend</h2>
      </div>
      <div class="line">
        <hr class="hr">
      </div>
    </div>
    <div class="offers">
      <div class="product">
        <div class="wrapper">
          <img src="../../../assets/0675_Sacha-Scarf_14-1200x1265.png">
        </div>
        <button>SHOP Vests</button>
      </div>
      <div class="product">
        <div class="wrapper">
          <img src="../../../assets/sh2.png">
        </div>
        <button>SHOP NOW</button>
      </div>
      <div class="product">
        <div class="wrapper">
          <img src="../../../assets/0675_Sacha-Scarf_14-1200x1265.png">
        </div>
        <button>SHOP NOW</button>
      </div>
      <div class="product">
        <div class="wrapper">
          <img src="../../../assets/0675_Sacha-Scarf_14-1200x1265.png">
        </div>
        <button>SHOP NOW</button>
      </div>
    </div>
  </div>

  <div class="shipping">
    <div class="head">
      <div class="line">
        <hr class="hr">
      </div>
      <div class="title">
        <h2>Shopping Made Easy</h2>
      </div>
      <div class="line">
        <hr class="hr">
      </div>
    </div>
    <div class="shipping-box">
      <div class="element">Free shipping<br> when you spend<br> over $30</div>
      <div class="element">30 Day<br> Returns</div>
      <div class="element">Hey Student.<br> GET 30% OFF!</div>
    </div>
  </div>
</div>

<div class="subscribe">
  <div class="main-wrapper">
    <div class="subscribe-box">
      <div class="title">
        Subscribe now & get 20% off your first order!
      </div>
      <div class="join">
        <input type="text" placeholder="Enter your email" [(ngModel)]="inputModel">
        <button>Join</button>
      </div>
    </div>
  </div>
</div>
