@import "../../../params";

:host {
  margin: $grid*5 0;
}

.main-wrapper {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0 $grid;
  width: 1180px;
}

.banner {
  align-items: center;
  background: url("../../../assets/mountain.jpg");
  display: flex;
  height: 600px;
  flex-direction: row;
  width: 100%;
}

.slogan {
  background-color: rgba(255, 255, 255, 0.8);
  color: $textColor;
  font-size: 3.4rem;
  line-height: 3.7rem;
  margin: 0 auto;
  padding: $grid $grid*2;
  text-align: center;
}

.hot-offers, .trent-offers {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 100%;
}

.trent-offers {
  width: 930px;
  .product {
    width: 50%;
  }
  button {
    margin-top: -$grid*2.5;
    width: 90%;
  }
}

.head {
  display: flex;
  flex-direction: row;
  padding: $grid*3 $grid*2;
  .line {
    flex-grow: 1;
  }
  hr {
    border-top: 2px solid $textColor;
    margin: $grid*3 0;
  }
  .title {
    text-align: center;
    width: 20%;
  }
}

.offers {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.product {
  margin-bottom: $grid*3;
  text-align: center;
  width: 370px;
  padding: 0 $grid;
  box-sizing: border-box;
  >div{
    margin-bottom: $grid;
  }
  .wrapper {
    align-items: center;
    box-sizing: border-box;
    padding: $grid*2;
    background-color: $SatinColor;
    width: 100%;
    height: 330px;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}

img {
  max-height: 100%;
  max-width: 100%;
}

.sub-title {
  font-size: 1.2rem;
}

.price {
  font-size: 1.9rem;
  font-weight: 700;
}

button {
  background: transparent;
  border: 2px solid $textColor;
  border-radius: 2px;
  font-size: 1.2rem;
  font-weight: 700;
  margin-bottom: $grid*3.5;
  padding: $grid*2 $grid*4;
  text-transform: uppercase;
}

.shipping-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.element {
  background-color: $WhiteSmokeColor;
  box-sizing: border-box;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.9rem;
  padding: $grid*4;
  text-align: center;
  width: 33%;
  margin:$grid;
}

.subscribe {
  background-color: $WhiteSmokeColor;
  margin: $grid*10 0;
  padding: $grid*5 0;

}

.subscribe-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  .title {
    flex-grow: 1;
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
  }
  .join {
    width: 25%;
  }
}
