:host {
  width: 245px;
  background-color: #ffffff;
  border-radius: 6px;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
}

ui-side-menu-group {
  .title {
    padding: 10px 20px 10px 20px;
    font-size: 1rem;
    color: #5d5a5a;
    font-weight: 700;
  }
}

ui-side-menu-sub {
  color: #797575;
  background: #F8F8F8;
  padding: 15px 20px;
  div{
    padding: 10px 0;
  }
}

