:host {
  width: 245px;
  background-color: #ffffff;
  border-radius: 6px;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
}
.header{
  border-bottom: 1px solid #f1f0f0;
  background: #F8F8F8;
  padding: 15px 20px;
  color: #444444;
  font-weight: 700;
}

kit-side-menu{
  div {
    padding: 15px 20px 10px 20px;
    font-size: 14px;
    color: #5d5a5a;
    border-bottom: 1px solid #eeeeee;
    &:last-child{
      border-bottom: none;
    }
  }
}

