@import "../../../params";
@import "../../../common";

:host {
  margin: $grid*6 0;
}

.container {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
}

.login-panel {
  border: 1px solid $mercuryColor;
  box-sizing: border-box;
  margin: 0 $grid*3;
  padding: $grid*2.5;
  width: 50%;
}

.title {
  font-weight: 400;
  font-size: 1.9rem;
  text-align: center;
}

label {
  display: block;
  font-size: 1rem;
  margin-bottom: $grid*1.5;
}

input {
  margin-bottom: $grid*2.5;
}

.forgotten-password {
  text-align: center;
  a {
    text-decoration: none;
    color: $textColor;
  }
}

.login-box {
  margin: $grid*2.5 0;
  text-align: center;
}

.login {
  background: $textColor;
  border: none;
  color: #ffffff;
  font-weight: 400;
  line-height: 3.7rem;
  padding: 0 $grid*3;
  text-transform: uppercase;
}

.social-box {
  text-align: center;
  p {
    font-size: 1.5rem;
  }
}

.facebook {
  background: #4267B2;
  border: none;
  color: #ffffff;
  font-weight: 700;
  line-height: 3.7rem;
  padding: 0 $grid*3;
}
@media (max-width: 700px) {
.container{
  align-items: inherit;
  flex-direction: column;
}
  .login-panel{
    flex-grow: 1;
    margin: $grid*2 0;
    width: auto;
  }
}
