<div class="search">
  <input type="search" id="mySearch" name="q" placeholder="Search Term">
</div>
<div class="options">
  <div class="sort">
    <span class="title">Sort by</span>
    <span>Most popular</span>
  </div>
  <div class="colors">
    <span class="title">Color</span>
    <button [uiButton] [type]="'color'" [kitCheck] [(ngModel)]="color" [value]="'1'"
            [style.background]="'#ccc'"></button>
    <button [uiButton] [type]="'color'" [kitCheck] [(ngModel)]="color" [value]="'2'"
            [style.background]="'#5454cc'"></button>
    <button [uiButton] [type]="'color'" [kitCheck] [(ngModel)]="color" [value]="'3'"
            [style.background]="'#dd59c4'"></button>
  </div>
  <div class="size">
    <span class="title">Size</span>
    <button [uiButton] [type]="'size'" [kitCheck] [(ngModel)]="size" [value]="'s'">S</button>
    <button [uiButton] [type]="'size'" [kitCheck] [(ngModel)]="size" [value]="'m'">M</button>
    <button [uiButton] [type]="'size'" [kitCheck] [(ngModel)]="size" [value]="'x'">X</button>
  </div>
  <div class="price">
    <span class="title">Price</span>
    <ui-slider [range]="true" [ngModel]="[10, 50]"></ui-slider>
  </div>
</div>
