$grid: 8px;

$textColor: #333434;
$themeBackground: #3d4044;
$primaryColor: #5868D7;
$primaryColor2: #6DEDF6;

$whiteSmokeColor: #F5F5F5;
$satinColor:#ECE8DF;
$mercuryColor: #e1e1e1;
$stormGreyColor: #7b7d8b;
$charcoalColor: #3d4044;
