<header class="header">
  <div class="content-inner">
    <div class="head">
      <div class="logo">
        ALMA
      </div>
      <div class="currency">
        usd
      </div>
      <div class="search">
        searh
      </div>
    </div>
    <div class="navigation">
      <div class="menu">
        MENU
      </div>
      <div class="account-wrap">
          <div>
            <a href="">
              My Account
            </a>
          </div>
          <div>
            <a href="">
              My Bag
            </a>
          </div>
      </div>
    </div>
  </div>
</header>
