@import "../../../params";
@import "../../../common";

:host {
  margin: $grid*3.5 0 $grid*1.5;
  border-bottom: 2px solid $mercuryColor;
  color: $textColor;
  text-transform: uppercase;
}

.head {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: right;
  > div {
    box-sizing: border-box;
  }
}

.logo {
  font-size: 3.9rem;
  flex-shrink: 0;
  letter-spacing: 12px;
  text-align: left;
}

.search-utilities {
  align-items: center;
  display: flex;
  flex-direction: row;
}

.currency {
  padding-right: $grid*10;
}

.search {
  display: flex;
  flex-direction: row;
  width: 360px;
  input {
    border: 1px solid #000000;
    box-sizing: border-box;
    height: 44px;
    padding: 0 $grid*1.5;
    width: 230px;
  }
  button {
    background: #333;
    padding: $grid*1.5 $grid*2;
    color: #fff;
    border: 1px solid #333;
    text-align: center;
    text-transform: uppercase;
    box-sizing: border-box;
  }
}

.navigation {
  align-items: center;
  display: flex;
  flex-direction: row;
  font-size: 1.2rem;
  justify-content: space-between;
  margin: $grid*2.5 0;
}

.account-wrap {
  display: flex;
  > div {
    margin-left: $grid*3;
  }
  a {
    color: $textColor;
    text-decoration: none;
  }
}

@media (max-width: 800px) {
  .currency {
    padding-right: $grid*2;
  }
  .search {
    width: auto;
    input {
      height: 33px;
    }
    button {
      padding: $grid $grid*2;
    }
  }
}
@media (max-width: 600px) {
  .head {
  flex-direction: column;
  }
  .search-utilities{
    margin-top: $grid*3;
    justify-content: space-between;
    width: 100%;
  }
  .search{
    input{
      width: 150px;
    }
  }
}
