@import "../../../params";

:host {
  margin: $grid*3.5 0 $grid*1.5;
  border-bottom: 2px solid $MercuryColor;
  color: $textColor;
  text-transform: uppercase;
}

.main-wrapper {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0 $grid;
  width: 1180px;
}

.head {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: right;
  > div {
    box-sizing: border-box;
    width: 33%;
  }
}

.logo {
  font-size: 3.9rem;
  letter-spacing: 12px;
  text-align: left;
}

.currency {
  padding-right: $grid*10;
}

.navigation {
  align-items: center;
  display: flex;
  flex-direction: row;
  font-size: 1.2rem;
  justify-content: space-between;
  margin: $grid*2.5 0;
}

.account-wrap {
  display: flex;
  > div {
    margin-left: $grid*3;
  }
  a {
    color: $textColor;
    text-decoration: none;
  }
}
