@import "params";

:host {
  border-radius: 6px;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
  padding: $grid*2 $grid*2.5;
  width: 100%;
}

.filter-section {
  .head {
    position: relative;
    .title {
      border-bottom: none;
    }
    .clear-all {
      font-size: 0.9rem;
      position: absolute;
      right: 0;
      top: 10px;
    }
    .chosen-box {
      > div {
        margin-bottom: $grid;
      }
    }
    a {
      color: $textColor;
      font-weight: 400;
      text-decoration: none;
      font-size: 0.9rem;
    }
    .icon {
      margin-right: $grid*3;
      &:before, &:after {
        position: absolute;
        content: "";
        height: 20px;
        width: 2px;
        background-color: $textColor;
        left: 8px;
      }
      &:before {
        transform: rotate(45deg);
      }
      &:after {
        transform: rotate(-45deg);
      }
    }
    .selected-type {
      font-size: 0.9rem;
      color: $textColor;
      font-weight: 700;
    }
  }

  > div {
    margin-bottom: $grid*2.5;
  }
  .title {
    font-size: 1.2rem;
    font-weight: 700;
    color: $textColor;
    line-height: 1.9rem;
    margin-bottom: 10px;
    padding: $grid 0;
    border-bottom: 1px solid $whiteSmokeColor;
  }
  .type-box {
    overflow-y: auto;
    max-height: 185px;
    font-size: 1rem;
    font-weight: 400;
    color: $textColor;
    > div {
      margin-bottom: $grid;
    }
    input {
      height: 16px;
      margin-right: $grid*1.5;
      width: 16px;
      &:checked {
        &:after {
          border-color: $primaryColor;
        }
      }
    }
  }
  .size-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    button {
      height: 40px;
      margin-right: $grid;
      width: 40px;
    }
  }
  .color-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    button {
      border-radius: 4px;
      height: 30px;
      width: 30px;
      margin-right: $grid;
    }
  }
}
