<footer>
  <div class="main-wrapper">
    <div class="footer">
      <div>
        <ul>
          <li>
            <h4>About Alma</h4>
          </li>
          <li>
            <a href="">
              Our Story
            </a>
          </li>
          <li><a href="">
            Affiliates & Partners
          </a>
          </li>
        </ul>
      </div>

      <div>
        <ul>
          <li>
            <h4>Customer Services</h4>
          </li>
          <li>
            <a href="">
              Contact Us
            </a>
          </li>
          <li><a href="">
            Delivery Information
          </a>
          </li>
          <li><a href="">
            Help
          </a>
          </li>
        </ul>
      </div>

      <div>
        <ul>
          <li>
            <h4>Terms & Conditions</h4>
          </li>
          <li>
            <a href="">
              Cookie Information
            </a>
          </li>
          <li><a href="">
            Privacy Policy
          </a>
          </li>
          <li><a href="">
            Returns Policy
          </a>
          </li>
          <li><a href="">
            Terms & Conditions
          </a>
          </li>
        </ul>
      </div>

        <div class="copyright">
          <p>© 2017 Ngx-kit</p>
        </div>
    </div>
  </div>
</footer>
