:host {
  width: 245px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #ffffff;
  border-radius: 6px;
  overflow: hidden;
}

.product-photo {
  background-color: #AEBEE0;
  background-image: url("../../../../assets/sh.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 220px;
}

.product-info {
  text-align: center;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #FAFAFA;
  box-sizing: border-box;
  color: #444444;
  padding: 15px 20px;
  .title {
    h3 {
      margin: 6px 0 2px 0;
      font-size: 16px;
    }
  }
  .colors {
    color: #626262;
    font-weight: 700;
    text-transform: uppercase;
  }
  .price-box {
    margin: 10px 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
    border: 1px solid #8e8888;
    .price {
      font-size: 13px;
      font-weight: 700;
      padding: 0 10px;
      line-height: 24px;
    }
    button {
      background: #5868D7;
      padding: 6px 14px;
      border: transparent;
      color: #ffffff;
      font-size: 12px;
    }
  }
}
