<div class="title">Recently viewed</div>
<div class="product-box">
  <div class="product-photo"></div>
  <div class="product-info">
    <div class="product-name">Product name</div>
    <div class="price">$130,80</div>
    <div class="more"><a href="">See item</a></div>
  </div>
</div>
<div class="product-box">
  <div class="product-photo"></div>
  <div class="product-info">
    <div class="product-name">Product name</div>
    <div class="price">$130,80</div>
    <div class="more"><a href="">See item</a></div>
  </div>
</div>
