$borderRadius: 3px;

:host {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  text-decoration: none;
  margin-bottom: 0;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  white-space: nowrap;
  user-select: none;
  border-radius: $borderRadius;
  border: 0;
  transition-property: background;
  transition-duration: .3s;
  text-transform: uppercase;
  &:focus {
    outline: none;
  }
  &.color {
    &-default {
      background: #5868d7;
      color: #ffffff;
      &:hover {
        background: #5868d7;
      }
      &.checked {
        background: #5868d7;
      }
    }
    &-primary {
      background: #66eef6;
      color: #ffffff;
      &:hover {
        background: #66eef6;
      }
      &.checked {
        background: #66eef6;
      }
    }
  }
  &.size {
    &-s {
      padding: 2px 6px;
      font-size: .65rem;
    }
    &-m {
      padding: .7em 1em;
      border-radius: 4px;
      font-size: .75rem;
      .icon {
        position: absolute;
        left: 1em;
        top: 0.7em;
        width: 1.2em;
        height: 1.2em;
      }
      &.withIcon {
        padding-left: 2.6em;
      }
    }
    &-l {
      padding: 8px 20px;
      font-size: 1rem;
    }
  }
  &.type {
    &-default {
    }
    &-size {
      background: #f8f8f8;
      color: #444444;
      border: 1px solid transparent;
      padding: 0;
      line-height: 32px;
      height: 32px;
      width: 32px;
      text-align: center;
      &:hover {
        background: #f2f2f2;
        color: #333333;
      }
      &.checked {
        border: 1px solid rgba(255, 255, 255, 0.83);
        box-shadow: 0 2px 7px rgba(0, 0, 0, .3);
        &.color {
          &-default {
            background: #5868d7;
            color: #ffffff;
          }
          &-primary {
            background: #66eef6;
            color: #ffffff;
          }
        }
      }
    }
    &-color {
      padding: 0;
      height: 24px;
      width: 24px;
      border-radius: 50%;
      border: 1px solid transparent;
      &.checked {
        border: 1px solid rgba(255, 255, 255, 0.83);
        box-shadow: 0 2px 7px rgba(0, 0, 0, .3);
      }
    }
  }
  &.groupDirection {
    &-row {
      border-radius: 0;
      &:first-child {
        border-bottom-left-radius: $borderRadius;
        border-top-left-radius: $borderRadius;
      }
      &:last-child {
        border-bottom-right-radius: $borderRadius;
        border-top-right-radius: $borderRadius;
      }
    }
    &-column {
      border-radius: 0;
      &:first-child {
        border-top-right-radius: $borderRadius;
        border-top-left-radius: $borderRadius;
      }
      &:last-child {
        border-bottom-right-radius: $borderRadius;
        border-bottom-left-radius: $borderRadius;
      }
    }
  }
}
