:host {
  width: 515px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #ffffff;
  border-radius: 6px;
  overflow: hidden;
  position: relative;
  padding: 20px;
  box-sizing: border-box;

}

.product-photo {
  background-image: url("../../../../assets/snowboard2.png");
  background-size: cover;
  background-position: center;
  width: 60%;
  height: 300px;
}

button {
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.product-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
  .title {
    h3 {
      margin: 6px 0 2px 0;
      font-size: 24px;
    }
  }
  .sub-title {
    color: #CCCCCC;
    font-size: 1rem;
  }
  .price-box {
    margin: 10px 0;
    color: #5868d7;
    font-size: 24px;
    font-weight: 700;
  }
  .preview {
    display: flex;
    flex-direction: row;
    > div {
      height: 60px;
      width: 60px;
      margin-right: 10px;
      border: 1px solid #CCCCCC;
      background-size: cover;
      background-position: center;
    }
    .item1 {
      background-image: url("../../../../assets/snowboard2.png");
    }
    .item2 {
      background-image: url("../../../../assets/snowboard.png");
    }
    .item3 {
      background-image: url("../../../../assets/snowboard2.png");
    }
  }
}
