@import "../../../params";
@import "../../../common";

:host {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.sub {
  background: $whiteSmokeColor;
  border-bottom: 2px solid $mercuryColor;
  display: block;
  overflow: hidden;
  .section {
    padding: $grid * 2 0;
  }
}

ul {
  display: flex;
  flex-direction: row;
  font-size: 1.2rem;
  margin: $grid*2.5 0;
  list-style: none;
  li {
    padding: 0 $grid * 2;
  }
}
