@import "params";

:host {
  border: 1px solid #CCCCCC;
  padding: 6px 8px;
  border-radius: 4px;
  width: 95px;

}

button {
  background: transparent;
  border: none;
  color: $primaryColor;
  cursor: pointer;
  &:focus {
    outline: none;
  }
}

input {
  background: transparent;
  width: 50px;
  border: none;
  text-align: center;
  &:focus {
    outline: none;
  }
}

@media (max-width: 600px) {
  input {
    width: 16px;
  }
}
