@import "params";

:host {
  box-sizing: border-box;
  border-radius: 2px;
  background: transparent;
  border: 1px solid $mercuryColor;
  color: #4a505a;
  padding: 8px;
  transition: all .3s;
  width: 100%;
  &:hover {
    outline: none;
    border-color: $primaryColor2;
  }
  &:focus {
    outline: none;
    border-color: $primaryColor2;
    box-shadow: 0 0 6px 0 rgba(109, 237, 246, 0.7);
  }
}
