@import "params";

.main-wrapper {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0 $grid;
  width: 1180px;
}

@media (max-width: 1200px) {
  .main-wrapper {
    padding: 0 $grid*3;
    width: 100%;
  }
  @media (max-width: 500px) {
    .main-wrapper {
      padding: 0 $grid*2;
    }
  }
}
