/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700|Roboto+Slab:400,700');
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto';
  font-size: 13px;
}

