.main-wrapper {
  max-width: 1600px;
  margin: 0 auto;
}

.wrapper {
  max-width: 1055px;
  margin: 0 auto;
}

.head {
  background: url("../../assets/mountain.jpg");
  height: 500px;
  background-size: cover;
  color: #D7F9FB;
  text-align: center;
  padding-top: 40px;
  h1 {
    font-size: 150px;
  }
}

.sub-head {
  background-color: #22335e;
  color: #D3D6DF;
  text-align: center;
  padding: 100px 0;
  letter-spacing: 1.2px;
  .title {
    width: 600px;
    margin: 0 auto;
    font-weight: 700;
    padding-bottom: 30px;
    border-bottom: 1px solid #405489;
    font-size: 20px;
  }
  .sub-title {
    padding: 30px 0;
    width: 600px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    font-size: 16px;
    font-weight: 300;
    span {
      color: #7BFBFE;
      font-weight: bold;
      font-size: 20px;
      margin-right: 4px;
    }
  }
  .navigation {
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    a {
      color: #7BFBFE;
      text-decoration: none;
      font-size: 16px;
    }
  }
}

.products {
  background-color: #4753A9;
  h2 {
    margin: 0;
    padding: 60px 0;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 40px;
    letter-spacing: 1.5px;
  }
  .main-wrapper {
    padding: 100px 0;
    background: #4D5CB9;
    border-radius: 8px;
  }
}

.row {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  justify-content: space-between;

}

