<div class="head">
  <h1>Alma</h1>
  <h2>UI Kit</h2>
</div>
<div class="sub-head">
  <div class="wrapper">
    <div class="title">Set of designs and components based on <br>Angular 4+</div>
    <div class="sub-title">
      <p><span>50</span> UI elements</p>
      <p><span>4</span> categories</p>
      <p><span>FREE</span> fons & icons</p>
    </div>
    <div class="navigation">
        <a href="">Products</a>
        <a href="">Forms</a>
        <a href="">Pricing</a>
        <a href="">Headers</a>
        <a href="">Footers</a>
    </div>
  </div>
</div>
<div class="products">
  <h2>Products</h2>
  <div class="main-wrapper">
    <div class="wrapper">
      <div class="row">
        <ui-product-card-1></ui-product-card-1>
        <ui-product-card-2></ui-product-card-2>
      </div>
      <div class="row">
        <ui-product-card-3></ui-product-card-3>
      </div>
      <div class="row">
        <ui-product-card-4></ui-product-card-4>
        <ui-product-card-5></ui-product-card-5>
        <ui-product-card-6></ui-product-card-6>
      </div>
      <div class="row">
        <ui-product-card-7></ui-product-card-7>
        <ui-product-card-8></ui-product-card-8>
        <ui-product-card-9></ui-product-card-9>
        <ui-product-card-10></ui-product-card-10>
      </div>
    </div>

  </div>
</div>


<h2>Forms</h2>
<h2>Headers</h2>
<h2>Footers</h2>
<h2>Pricing</h2>
