:host {
  width: 300px;
  background-color: #ffffff;
  border-radius: 6px;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
  padding: 15px 20px;
}

.search {
  input {
    width: 100%;
    margin-right: 10px;
    border: none;
    border-bottom: 1px solid #f1f0f0;
    padding: 10px 0;
    &:focus {
      outline: none;
      border-bottom: 1px solid #5454CC;
    }
    &::placeholder {
      font-weight: 700;
      color: #797575;
      font-size: 11px;
    }
  }
}

.filter-section {
  > div {
    border-bottom: 1px solid #eeeeee;
    padding: 25px 0;
  }
  .title {
    text-transform: uppercase;
    color: #5d5a5a;
    font-weight: 700;
    font-size: 14px;
    margin-bottom: 20px;
  }
  .size-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    button {
      width: 40px;
      height: 40px;
    }
  }
  .type-box {
    > div {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 6px 0;
      color: #797575;
    }
    input {
      width: 16px;
      height: 16px;
      &:checked {
        &:after {
          border-color: #5868D7;
        }
      }
    }
  }
  .color-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    button {
      border-radius: 4px;
    }
  }
}

.footer {
  padding: 30px 0 20px 0;
  text-align: center;
  a{
    text-decoration: none;
  text-transform: uppercase;
  color: #5d5a5a;
  font-weight: 700;
  font-size: 14px;
  }
}
