@import "../../../params";
@import "../../../common";

:host {
  margin: $grid*5 0;
}

.basket-table {
  border: 0;
  border-collapse: collapse;
  margin: $grid*6 0;
  width: 100%;
  text-align: center;
  font-size: 1rem;
  th {
    padding: 1em;
    border-top: 1px solid $mercuryColor;
    border-bottom: 1px solid $mercuryColor;
    text-transform: uppercase;
    font-size: 1rem;
  }
  .description {
    text-align: left;
    width: 60%;
    .container {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
    }
    .product-photo {
      box-sizing: border-box;
      height: 90px;
      margin-right: $grid*2.5;
      padding: $grid;
      text-align: center;
      width: 90px;
      img {
        max-height: 100%;
        max-width: 100%;
      }
    }
    p {
      margin: $grid 0;
    }
    .product-name {
      font-size: 1.2rem;
      font-weight: 700;
    }
  }
  .subtotal {
    font-weight: 700;
  }
  td {
    border-bottom: 1px solid $mercuryColor;
    padding: $grid*1.5;
  }
  .total-label {
    text-align: right;
    text-transform: uppercase;
  }
  .total-value {
    font-size: 1.4rem;
    font-weight: 700;
  }
}
.basket-button{
 text-align: right;
}
.checkout {
  line-height: 3.7rem;
  padding: 0 $grid*3;
  background: #333333;
  border: none;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 400;
}
