<kit-side-menu>
  <kit-side-menu-group>
    <div class="title">Man</div>
    <kit-side-menu-sub *kitCollapse>
      <div>Jackets</div>
      <div>Shirts</div>
      <div>Footwear</div>
    </kit-side-menu-sub>
  </kit-side-menu-group>
  <kit-side-menu-group>
    <div class="title">Woman</div>
    <kit-side-menu-sub *kitCollapse>
      <div>Jackets</div>
      <div>Shirts</div>
      <div>Footwear</div>
    </kit-side-menu-sub>
  </kit-side-menu-group>
  <kit-side-menu-group>
    <div class="title">Kids</div>
    <kit-side-menu-sub>
      <div>Jackets</div>
      <div>Shirts</div>
      <div>Footwear</div>
    </kit-side-menu-sub>
  </kit-side-menu-group>

</kit-side-menu>
