:host {
  width: 300px;
  background-color: #ffffff;
  border-radius: 6px;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
  padding: 15px 20px;
}

.search {
  margin-bottom: 20px;
  input {
    width: 100%;
    margin-right: 10px;
    border: none;
    border-bottom: 1px solid #f1f0f0;
    padding: 10px 0;
    &:focus {
      outline: none;
      border-bottom: 1px solid #66EEF6;
    }
    &::placeholder {
      text-transform: uppercase;
      font-weight: 700;
      color: #797575;
      font-size: 11px;
    }
  }
}

.title {
  text-transform: uppercase;
  color: #5d5a5a;
  font-weight: 700;
  font-size: 15px;
}

ui-side-menu {
  > ui-side-menu-group {
    margin-bottom: 20px;
    &:last-child {
      border-bottom: 1px solid #eeeeee;
    }
  }
  ui-side-menu-sub {
    div {
      margin-bottom: 8px;
      color: #797575;
      font-weight: 400;
    }
    span {
      margin-left: 8px;
    }
  }
  .row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    > div {
      &:last-child {
        margin-left: 60px;
      }
    }
  }
}

.filter {
  margin-bottom: 30px;
  .title{
    text-transform: none;
  }
  ul {
    color: #797575;
    padding-left: 20px;
    li {
      margin-bottom: 8px;
    }
  }
  .reset{
    border: none;
    background: transparent;
    color: #d63838;
    font-size: 12px;
    font-weight: 700;
  }
}
